
.work {
    margin-top: 5rem;
    text-align: center;
}

.work__subtittle {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.work__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work__list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

.work__li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 1rem);
}

.work__container-img {
    background: #2e2e2e;
    width: 70px;
    height: 70px;
    border-radius: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work__image {
    background: none;
    width: 2.5rem;
    height: 2.5rem;
}

.work__paragraph {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.3rem;
    color: #F9F9F9;
    margin: 1rem 0 .2rem 0;
}

.work__span {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1rem;
    color: #828282;
}





@media screen and (min-width:1024px) {
    .work{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10rem;
        flex-direction: column;
    }
    
    .work__container{
        width: 80%;
    }
    
    .work__list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 30px;
    }
    
    .work__li {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 12rem;
    }
    
    .work__container-img{
        background: #2e2e2e;
        width: 80px;
        height: 80px;
        border-radius: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .work__image {
        background: none;
        width: 2.5rem;
        height: 2.5rem;
    }
    
    .work__paragraph {
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.3rem;
        color: #F9F9F9;
        margin: 1rem 0 .2rem 0;
    }
    
    .work__paragraph:hover {
        color:#323D70;
    }
    
    .work__span {
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.1rem;
        color: #828282;
    }
}


